.openAccountOuterDiv{
    margin-top: 8rem;
}

.OpenAccountDiv1{
    text-align: center;
}

.OpenAccountDiv1 h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #424242;
}

.OpenAccountDiv1 p{
    font-size: 1rem;
    margin-bottom: 2.5rem;
    color: #666666;
}

.OpenAccountDiv1 button{
    height: 2.79rem;
    width: 10.8775rem;
    font-size: 19.2px;
    background-color: #387ed1;
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

.OpenAccountDiv1 button:hover{
    background-color: #222;
}