.outerInstructionDiv{
    margin-top: 8rem;
}

.innerInstructionDiv1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.innerInstructionDiv1 a{
    color: #387ed1;
    font-size: 20px;
    text-align: center;
}

.innerInstructionDiv1 a:hover{
    color: #444;
}

.innerInstructionDiv2{
    margin-top: 3rem;
}

.innerInstructionDiv2 ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.innerInstructionDiv2 ul li{
    width: 100%;
    font-size: 12px;
    color: #666666;
    line-height: 1.5rem;
}

@media(max-width:500px){
    .innerInstructionDiv1 a{
        width: 100%;
        margin-bottom: 1rem;
    }
}