@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.outerHomeDiv{
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
}

.innerHomeDiv1{
    width: 35%;
    /* border: 1px solid red; */
    height: 100%;
}

.innerHomeDiv2{
    width: 65%;
    /* border: 1px solid blue; */
    height: 100%;
}

.innerHomeDiv1, .innerHomeDiv2{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(233, 231, 231);
}

.innerMostHomeDiv1, .innerMostHomeDiv3{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(233, 231, 231);
    display: flex;
}

.innerMostHomeDiv1{
    border-right: 1px solid rgb(233, 231, 231);
    box-shadow: 0;
}

.innerMostHomeDiv2, .innerMostHomeDiv4{
    width: 100%;
    height: calc(100% - 78px);
    /* border: 1px solid yellow; */
}

@media(max-width:950px){
    .innerHomeDiv1{
        display: none;
    }
    .innerHomeDiv2{
        width: 100%;
    }
}