.outerHoldingDiv{
    padding: 2rem;
    padding-bottom: 0;
    overflow: scroll;
    height: calc(100% - 30px);
}

.outerHoldingDiv::-webkit-scrollbar{
    height: 100%;
    width: 6px;
    background-color: #eeeeeedf;
    border-radius: 1.5rem;
}

.outerHoldingDiv::-webkit-scrollbar-thumb {
    border-radius: 1.5rem;
    background: rgb(198, 196, 196);
}

.outerHoldingDiv p{
    font-size: 1.25rem;
    color: #444444;
}

table{
    border-collapse: collapse;
    margin-top: 1.5rem;
    width: 100%;
}
tr{
    width: 100%;
    height: 2.5rem;
    border-top: 1px solid rgb(233, 231, 231);
    border-bottom: 1px solid rgb(233, 231, 231);
}

table tr:last-child{
    border-bottom: 0;
}
table tr:first-child{
    border-top: 0;
    border-bottom: 1px solid rgb(233, 231, 231);
}

table tr th{
    font-size: 14px;
    color: #9B9B9B;
    font-weight: 400;
    padding: 0.5rem;
}

table tr th:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

table tr td{
    padding: 0.5rem;
    font-size: 1rem;
    color: #444444;
}

.th1, .td1{
    width: 20%;
    text-align: left;
    border-right: 1px solid rgb(233, 231, 231);
}

.th2, .td2{
    width: 10%;
    text-align: center;
}

.th3, .td3{
    width: 15%;
    text-align: center;
}

.th4, .td4{
    width: 10%;
    text-align: right;
    border-right: 1px solid rgb(233, 231, 231);
}

.th5, .td5{
    width: 15%;
    text-align: right;
}

.th6, .td6{
    width: 10%;
    text-align: right;
}

.td7{
    font-size: 14px;
}

.th7, .td7{
    width: 10%;
    text-align: right;
}

.td8{
    font-size: 12px;
}

.th8, .td8{
    width: 10%;
    text-align: right;
}

.innerHoldingDiv1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 8rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.innerHoldingDiv1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.innerHoldingDiv1 div p:first-child{
    font-size: 28px;
    color: #444444;
}

.innerHoldingDiv1 div p:first-child span{
    font-size: 14px;
}

.innerHoldingDiv1 div p:last-child{
    font-size: 12px;
    color: #9B9B9B;
}

.innerHoldingDiv1 div:last-child p{
    color: #67C988;
}

.innerHoldingDiv1 div:last-child p span{
    font-size: 20px;
}