.outerOrderDiv{
    padding-top: 2rem;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.outerOrderDiv img{
    height: 15%;
}

.outerOrderDiv p{
    font-size: 18px;
    color: #868484;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.outerOrderDiv button{
    width: 6rem;
    height: 2rem;
    background-color: rgb(69, 69, 244);
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid blue;
}

.outerOrderDiv button:hover{
    background-color: rgba(69, 69, 244, 0.86);
}

.outerOrderDiv button a{
    color: white;
    text-decoration: none;
}